<a href="https://colab.research.google.com/github/NanPyaeNyeinThar/MMDT_T-PY101_Batch03/blob/main/NanPyae/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
str_sentence = "My name is python"
str_length = len(str_sentence)
print('The length of the string "{}" is {}'.format(str_sentence,str_length))

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_count = s.lower().count("python")
print('The total count of "python": ',s_count)

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1+ls2
elements = len(new_list)
print("New list:",new_list)
print("The number of elements in new list",elements)

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
my_dict = {"Name":["Myo","Thida"],"Age":[32,64]}
print(my_dict["Name"])
print(my_dict["Age"])

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
set3 = set1.union(set2)
print("The combined set",set3)
print("Its length is ",len(set3))

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
input_str = input("Enter a string: ")
new_str = input_str[0]+'*'+input_str[2:]+'!!!'
print(new_str)

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_str = s.lower().replace(";","").replace("-","").replace(",","")
print(new_str)

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(L1)
print(L2)
S1 = set(L1)
S2 = set(L2)
diff = S1.difference(S2)
diff_value = str(diff)
print("The missing number in L2: ",diff)

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print("Original List: ",ls1)
print("New List: ",ls2)